.team {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: #f5f4fa;
}


.team-tittle {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--tittle-color);
    margin-bottom: 50px;
}

.team-list {
    display: flex;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}

.team-name {
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-list-tittle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--tittle-color);
    margin-bottom: 10px;
}

.team-after-tittle {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--lite-color);
    margin-bottom: 16px;
}

.team-social-list {
    display: flex;
    justify-content: center;
}

.team-social-item+.team-social-item {
    margin-left: 10px;
}

.team-social-link {
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
    }
}

.team-social-icon {
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .team-social-link:hover &,
    .team-social-link:focus & {
        fill: #ffffff;
    }
}